<section>
    <div class="m-5  form-box">
        <h2 class="m-5">Selecione a opção adequada:</h2>
        <div class="row">
            <div class="column m-4">
                <a routerLink="/user/create" class="nav-link" routerLinkActive="active" class="m-2">
                    <img src="../../../../assets/img/i-volunteer.png" alt="">
                    <p>
                        Cadastrar conta para um voluntario
                    </p>
                </a>
            </div>
            <div class="column m-4">
                <a routerLink="/user/create" class="nav-link" routerLinkActive="active" class="m-2">
                    <img src="../../../../assets/img/i-institution.png" alt="">
                    <p>
                        Cadastrar conta para uma instituição
                    </p>
                </a>
            </div>
        </div>
    </div>
</section>

