.carousel {
    margin: auto;
    height: 30vh;
    background-image: url(../../../assets/img/c-05.jpg);
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(to bottom,  rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 0) 100%); W3C */

    /* -webkit-mask-image: -webkit-gradient(linear, left left, left right, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
  }

.logo{
    width: 270px;
    height: 150px;
  }

  .flex-container {
    display: flex;
    justify-content: flex-end;
    background-color: DodgerBlue;
    align-content: center;
  }
