/* .flex-container {
    display: flex;
    background-color: #f1f1f1;
  }
  
  .flex-container > div {
    background-color: DodgerBlue;
    color: white;
    margin: 0px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .item-profile{
    width: 70vh;
  }

  .item-next-events{
    width: 15vh;
  } */
  body{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
  }

  .right_col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
  }

  .header-wrapper header{
    background: url(../../../assets/img/background3.png);
    min-height: 250px;
    background-size: 150px;
  }

  .left_col{
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
  }

  .img_profile{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%)
  }

  .img_profile img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
  }

  h2{
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
  }

  .account-type{
    font-size: 0.8rem;
    font-style: italic;
  }

  .bios{
    font-size: 0.9rem;
    color: rgb(19, 20, 20);
    margin: 0;
    justify-content: space-between;
    position: relative;
  }

  .rightcol{
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction: column;
  }

  nav ul{
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  nav ul li{
    text-transform: uppercase;
    text-decoration: none;
  }

  .vagas{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 20px;
  }

  .cardVaga{
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    font-size: 0.8rem;
    border-color:  #000000;
    transition: box-shadow .3s;
  }
  .cardVaga:hover{
    border-style: solid;
    border-width: 4px;
    border-radius: 25px;
    font-size: 0.8rem;
    border-color:  #5fc9fa;
    cursor: pointer; 
    box-shadow: 10px 10px 10px rgba(63, 121, 197, 0.87); 
  }

  .vagas img{
    max-width: 90%;
    display: block;
    height: 90%;
    object-fit: cover;
    border-radius: 25px;
  }

  .vagasDetails img{
    max-width: 30%;
    height: 30%;
  }

  .overFlowY{
    overflow-x: hidden;
    overflow-y: auto;

  }

  .btnCollor{
    background-color: #5fc9fa;
  }

  @media (min-width: 868px) {
    .cols_container {
      max-width: 1500px;
      margin: 0 auto;
      width: 90%;
      justify-content: space-between;
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    .left_col{
      padding: 25px 0;
    }

    .right_col nav ul{
      flex-direction: row;
      gap: 30px;
    }

    .vagas{
      height: 365px;
      overflow: auto;
      padding: 0 0 30px;
    }
  }

  @media (min-width: 1017px) {
    .left_col {
      margin: 0;
      margin-right: auto;
    }
    .right_col nav {
      flex-direction: row;
    }
  }

