<section>
    <div class="form-box mt-5">
        <div class="form-value">
            <form>
                <h2>Cadastro de Usúario</h2>
                
                <div class="inputbox">                 
                    <input class="" type="text" name="name" required="required" formControlName="name">
                    <label for="name" class="text-left">Nome</label>
                </div>
                <div class="inputbox">
                    <input class="" type="text" name="cpf"  required="required">
                    <label for="cpf" class="">CPF</label>
                </div>
                <div class="inputbox">
                    <input class="" type="text" name="birthDate"  required="required">
                    <label for="birthDate" class="">Data de Nascimento</label>
                </div>
                <div class="inputbox">
                    <input class="" type="text" name="fone" required="required">
                    <label for="fone" class="">Telefone</label>
                </div>
                <div class="inputbox">
                    <input class="" type="text" name="adress" required="required">
                    <label for="adress" class="">Telefone</label>
                </div>
                <div class="inputbox">
                    <input class="" type="text" name="bio" required="required">
                    <label for="bio" class="">Conte um pouco sobre você:</label>
                </div>
                <div class="inputbox">
                    <input class="" type="text" name="email" required="required">
                    <label for="usuario" class="">Email</label>
                </div>
                <div class="inputbox">
                    <input class="" type="password" name="password" required="required">
                    <label for="password" class="">Senha</label>
                </div>
                <div class="inputbox">
                    <input class="" type="password" name="confPassword" placeholder="" required="required">
                    <label for="confPassword" class="">Confirmar Senha</label>
                </div>
                <div>
                    <!-- <button type="submit" class="text-white" onclick="return validar_form()">
                        Voltar
                    </button> -->
                    <button type="submit" class="text-white" onclick="return validar_form()">
                        Cadastrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
    