<section>
    <div class="form-box">
        <div class="form-value">
            <form [formGroup]="formUser">
                <h2>Cadastro de Usúario</h2>
                
                <div class="inputbox">                 
                    <input class="" type="text" name="nome" required="required" formControlName="name">
                    <label for="usuario" class="text-left">Nome</label>
                </div>
                <div class="inputbox">
                    <input class="" type="text" name="cpf"  required="required">
                    <label for="usuario" class="">CPF</label>
                </div>
                <div class="inputbox">
                    <input class="" type="text" name="telefone" required="required">
                    <label for="usuario" class="">Telefone</label>
                </div>
                <div class="inputbox">
                    <input class="" type="text" name="email" required="required">
                    <label for="usuario" class="">Email</label>
                </div>
                <div class="inputbox">
                    <input class="" type="password" name="senha" required="required">
                    <label for="usuario" class="">Senha</label>
                </div>
                <div class="inputbox">
                    <input class="" type="password" name="confSenha" placeholder="" required="required">
                    <label for="usuario" class="">Confirmar Senha</label>
                </div>
                <div >
                    <button type="submit" class="text-white" onclick="return validar_form()">
                        Cadastrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
    