<div class="paragraph">
  <div
    style="max-height: 500px; min-height: 500px; overflow: auto"
    class="px-2"
  >
    <div class="col-sm-12 my-1">
      <label class="sr-only" for="inlineFormInputGroupSearch">Pesquisar</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Pesquisar</div>
        </div>
        <input
          type="text"
          class="form-control"
          id="inlineFormInputGroupSearch"
          placeholder=""
        />
      </div>
    </div>
  </div>
  <hr />
</div>
