/* #Body {
    background:  url("../assets/img/1.png");
                 /* url("../assets/img/ruido.png"),
                 linear-gradient(50deg, #b9ecf5, #19688d); */
    /*background: #fff;
    background-size: 30%;
	background-attachment: fixed;
    background-repeat: repeat;
   } */