<section>
    <div class="form-box">
        <div class="form-value">
            <form action="">
                <div style="width: 130%; margin-left: -45px;" id="navTabs" class="">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item  m-2" (click)="onTabClick('volunteer')">
                            <a class="nav-link border active" [ngClass]="{ 'active':activeTab==='volunteer'}">
                                Voluntario
                            </a>
                        </li>
                        <li class="nav-item m-2" (click)="onTabClick('institution')">
                            <a class="nav-link border" [ngClass]="{ 'active':activeTab==='institution'}">
                                Instituição
                            </a>
                        </li>
                    </ul>
                </div>
                <h2 class="">Login</h2>
                <div class="inputbox">
                    <input type="email" required>
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <input type="password" required>
                    <label for="">Password</label>
                </div>
                <!-- <div class="forget">
                    <label for=""><input type="checkbox">Remember Me  <a href="#">Forget Password</a></label>
                  
                </div> -->
                <button class="text-white">Log in</button>
                <div *ngIf="activeTab == 'volunteer'" class="register">
                    <p>Não tem uma conta?<a routerLink="/user/create" class="nav-link" routerLinkActive="active"> Cadastre-se agora!</a></p>
                </div>
                <div *ngIf="activeTab == 'institution'" class="register">
                    <p>Não tem uma conta?<a routerLink="/institution/create" class="nav-link" routerLinkActive="active"> Cadastre-se agora!</a></p>
                </div>
            </form>
        </div>
    </div>
</section>

