<section>
    <div class="form-box">
        <div class="form-value">
            <form action="">
                <h2>Login</h2>
                <div class="inputbox">
                    <input type="email" required>
                    <label for="">Email</label>
                </div>
                <div class="inputbox">
                    <input type="password" required>
                    <label for="">Password</label>
                </div>
                <!-- <div class="forget">
                    <label for=""><input type="checkbox">Remember Me  <a href="#">Forget Password</a></label>
                  
                </div> -->
                <button class="text-white">Log in</button>
                <div class="register">
                    <p>Não tem uma conta?<a routerLink="/user/create" class="nav-link" routerLinkActive="active"> Cadastre-se agora!</a></p>
                </div>
            </form>
        </div>
    </div>
</section>

