nav.navbar-transparent{
	background: rgba(14, 164, 233, 0.7);
	border-style: solid;
	 
}

.corDeFundo{
	background: rgba(0,0,0,0.6);
}

.bordaDegrade{
	border-style: solid;
 	border-width: 1px;
	border-image: linear-gradient(to left, rgba(0, 251, 217, 0.8), rgba(231, 223, 230, 0.8), rgba(0, 251, 217, 0.8))90% 0%/5px 0px;
}


#corpo .topo{
	width: 99%;
	height: 30vh; 
}

.cor{
	background-image: linear-gradient(to left, rgba(255, 0, 217), rgba(0, 251, 217), rgba(255, 0, 217, 0.5));	
}

.item{
	background-color: rgba(0,0,0,0.8);
	border: 1px solid red;
	float: left;
	height: 350px;
	opacity: 0.9;
}

#corpo .menu{
	background-color: blue;
	width: 30%;
	height: 60Vh;
	display: inline-table;
}

footer .logo{
	width: 270px;
	height: 90px;
}

/*<!--classes-->*/
/* .header-bg{
*/
.header-size{
	height: 180px;
}

.logo{
	margin-top: 1%;
	margin-left: 1%;
}

.slogan{
	text-align: left;
	color: lightblue;
	text-decoration: none;

}

.gradiente{
	clear: both;
	height: 5px;
	background-image: linear-gradient(to left, rgba(0, 251, 217, 0.5), rgba(255, 0, 217, 0.5), rgba(0, 251, 217, 0.5));
}

.fotterespc{
	
	clear: both;
	background-color: black;
	text-align: center;
	color: white;
}

.content {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    text-align: center;
    -webkit-transform: translateY( -50% );
    -moz-transform: translateY( -50% );
    transform: translateY( -50% );
}

.divfooter{
	height: 50px;
}

.separatorfooter{
	border-right: 2px solid rgb(8, 1, 1);
}

.imagem{
	width: 80%;
	height: 200px;
}
